
  .footer-text{
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    font-size: larger;
    color: white;
  }
  
  .foot{
    position: fixed;
    height: 50px;
    background-color: rgb(4, 4, 4);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }