<div class="placed-content">
    <!-- <img class="success-logo"  src="https://static.vecteezy.com/system/resources/thumbnails/005/265/170/small/colorful-confetti-and-ribbon-falling-simple-confetti-and-ribbon-falling-isolated-on-white-background-festival-elements-anniversary-and-birthday-celebration-element-vector.jpg" alt="Order successful"> -->
    <div class="thanku"><br>
        Order Placed Successfully
    </div>
    <img class="order-placed" src="https://www.feezital.com/images/order-successfully.svg" alt="Order placed">
    <div class="order-text"><p>Hurray!!! Your order is comfirmed.<br>Order ID : <b>#{{idFun()}}</b> Save the order id for <br>further communication.</p></div>
   <br>
    <div class="order-table">
        <table>
            <tr>
              <th>Email us </th>
              <th>Contact us</th>
              <th>Address</th>
            </tr>
            <tr>
              <td>admin@bookstore.com</td>
              <td>+917606868098</td>
              <td>42,14th main,15th Cross,Sector 4,Opposite to BDA complex,<br>near kumkarakon restaurant,HSR layout,Bangalor,560034</td>
            </tr>
          </table>
    </div>
    <br>
    <div>
        <button mat-raised-button color="primary" class="continue-btn"  (click)="(goOrder())">CONTINUE SHOPPING</button>
    </div>
</div>